<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			    <rule name="Imported Rule 0">
                    <match url="^index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 1">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="list.php?tid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^(.*)/list_([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="list.php?tid={R:2}&amp;PageNo={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^(.*)/([0-9]+).html?$" ignoreCase="false" />
                    <action type="Rewrite" url="view.php?aid={R:2}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 4">
                    <match url="^(.*)/([0-9]+)-([0-9]+).html?$" ignoreCase="false" />
                    <action type="Rewrite" url="view.php?aid={R:2}&amp;pageno={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>