@charset "utf-8";
/************************************
 * @websit:http://www.kaifa.com     *
 * @author:QQ:5502585               *
 ************************************/

.left{float: left; clear: none;}
.right{float: right;clear: none;}
a{ blr:expression(this.onFocus=this.blur());outline:none;}
a{ text-decoration: none;color:#467691;}
a:link,a:visited,a:active{ text-decoration: none; }
a:hover { text-decoration: underline; color:#f00;}

.hide{ display: none; }
.show{ display:block; }

.clear{display:block; clear:both; height:0; overflow:hidden; visibility:hidden; border:0; padding:0; line-height:0;}
.divauto{width:960px; margin:auto; overflow: hidden;}
.clearh10{display:block; clear:both; height:10px; overflow:hidden; visibility:hidden; border:0; padding:0; line-height:10px;}

/* color */
.c9c9c9c,.c9c9c9c a{color:#9c9c9c;}
.c9c9c9c a:hover{color:#f00;}
.c555 a{color:#555;}
.c555 a:hover{color:#f00;}
.c0071bc a{color:#0071bc;}
.c0071bc a:hover{color:#f00;}
.c464646 a{color:#464646;}
.c464646 a:hover{color:#f00;}
.c5b5c5c a{color:#5b5c5c;}
.c5b5c5c a:hover{color:#f00;}

.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.pt10{ padding-top:10px;}
.pb10{ padding-bottom:10px;}
.bb1{ border-bottom:1px dashed #d1d1d1; }
.pr20{ padding-right:20px;}

.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}


/* header logo */
.top{ background:url(top.png) repeat-x 0 0; height:31px; line-height:31px;}

#header .logo{ float:left; width:230px; height:70px; overflow:hidden; padding-top:3px;}
#header .search{ width:320px; float:right; padding-top:14px;}
#header .search .search_box{ width:311px; height:30px; overflow:hidden; background:url(top.png) no-repeat 0 -32px;}
#header .search .search_box input{ float:left; border:0; background:none;}
#header .search .search_text{ height:16px; line-height:16px; padding:7px 4px;  width:270px; color:#caccce;}
#header .search .search_btn{ width:30px; height:30px; overflow:hidden; cursor:pointer;}
#header .search p{ height:30px; line-height:30px; width:320px; overflow:hidden;}
#header .search p em{ color:#f00;}
#header .search p span a{ color:#0071bc;}
#header .search p span a:hover{ color:#f00;}

/* nav menu */
.nav{ width:960px; display:block; clear:both;}
.nav span{ display:block; float:left; height:74px; overflow:hidden;}
.nav .nav_l{ background:url(top.png) no-repeat 0 -138px; width:4px;}
.nav .nav_r{ background:url(top.png) no-repeat -4px -138px; width:4px;}
.nav .nav_m{ background:url(top.png) repeat-x 0 -63px; width:952px;}
.nav .nav_m p{ height:36px; line-height:36px; width:952px; overflow:hidden; color:#707070;}
.nav .nav_m p b{ color:#f00; padding-left:24px;}
.nav .nav_m p a{ color:#707070; padding-right:14px;}
.nav .nav_m p a:hover{ color:#f00;}

.menu{ width:952px; height:38px; overflow:hidden; line-height:38px;}
.menu ul{ float:left;}
.menu li{ float:left; padding:0 24px; font-size:14px; font-weight:bold; background:url(top.png) no-repeat right -138px}
.menu li a,.nav .nav_m li a:hover{ color:#FFF;}
.menu .nav_db{ float:right; background:url(top.png) no-repeat -68px -138px; width:102px; line-height:38px; height:38px;}



/* footer */
#footer { background:#e3eaef; border-top:2px solid #b0cbd9; margin-top:20px;}
.copyright{ text-align:center; padding:10px 0 20px;}
.copyright p{color:#7c7c7c; line-height:30px;}
.foot_menu{ width:960px; display:inline-block; text-align:center; padding-top:14px; height:30px; line-height:30px;}

/* 翻页 */
#pager {height:22px;padding:14px 0px;clear:both; overflow:hidden; border-top:1px dashed #ddd; margin-top:14px;}
#pager ul,#pager ul li,#pager p{ float:left;}
#pager ul li{ padding-right:6px;}
#pager ul li a{ height:14px; line-height:14px; padding:4px 5px; color:#0071bc; border:1px solid #c7d4da; display:block; float:left;}
#pager ul li a.w1{ width:16px; text-align:center; font-size:14px;}
#pager ul li a:hover,#pager ul li.current a{ color:#fff; border:1px solid #26b3e9; background:#26b3e9; text-decoration:none;}
#pager p{ line-height:22px; color:#464646; height:22px;}




